/* Css For Video And Music  */

body {
	height: 100vh !important;
}

body::-webkit-scrollbar {
	width: 0px;
	background: none;
	display: none;
}

/* Left Container Area  */

/* hover tool  */
.center {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	/* font-size: 50px; */
	border-radius: 50%;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
		0 2px 4px -1px rgb(0 0 0 / 40%);
}

.wrapper-left-container:active .center {
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	transition: ease-out 0.2s all;
}

.top {
	transition: 0.5s ease;
	position: absolute;
	top: 5%;
	right: 5%;
	text-align: center;
	opacity: 0;
}

.wrapper-left-container:hover .top {
	opacity: 1;
}

/* icon play pause  */
.wrapper-left-container .play-pause a {
	transition: all 0.2s;
	cursor: pointer;
}

.wrapper-left-container .play-pause a:hover {
	color: rgb(255, 255, 255, 0.8);
}

/* icon play pause  */
.wrapper-left-container .play-pause i {
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 40px;
    height: 40px;*/
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	transition: all 0.2s;
	cursor: pointer;
	font-size: 52px;
	animation-name: scale;
	animation-duration: 0.3s;
}

.wrapper-left-container .play-pause:hover i {
	transition: all ease-out 1s;
	/* padding: 10px; */
	/* width: 45px; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 45px; */
	/* background-color: rgba(0, 0, 0, 0.7); */
}

@keyframes scale {
	from {
		scale: 0.5;
	}

	to {
		scale: 1;
	}
}

.image-live-hover video,
.image-live-hover img {
	border-radius: 2.5px;
	/* width: 50px; */
}

.all-flex-wrapper {
	width: 100%;
	/* padding: 24px 48px; */
	display: flex;
	padding: 40px 56px;
	position: fixed;
	top: 64px;
	left: 0;
	/* height: 100%; */
	width: 100vw;
	height: calc(100vh - 64px - 72px);
	/* transform: translate3d(0,100vh,0); */
	transition: transform 300ms cubic-bezier(0.2, 0, 0.6, 1);
	will-change: transform;
	z-index: 2;
}

.left-live-container {
	width: 50%;
	/* padding: 50%; */
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	/* margin: 0 0 40px; */
}

/* untuk mengatur width dan height image */
.wrapper-img video,
.wrapper-img img {
	height: 100%;
	left: 0;
	/* object-fit: cover; */
	position: absolute;
	top: 0;
	width: 100%;
}

.top-flex {
	display: flex;
	gap: 15px;
}

/* Right Container Area */
.right-live-container {
	margin: 0 0 0 48px;
	display: flex;
	flex-direction: column;
	width: 36%;
}

.wrapper-right-container {
	/* padding: 50px; */
	width: 100%;
	height: 100%;
}

.right-now {
	padding: 50px;
}

/* bar right  */
.music-link-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 48px;
	font-size: 14px;
	font-weight: 500;
	/* overflow: hidden; */
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	/* justify-content: center; */
}

.music-link-wrapper {
	position: relative;
	height: 100%;
	white-space: nowrap;
	/* overflow: hidden; */
	-ms-flex: 1 1 auto;
	display: flex;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	/* touch-action: pan-y; */
	flex-direction: column;
	justify-content: center;
}

.music-link {
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 48px;
	justify-content: space-around;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

.music-link a {
	height: 100%;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

/* content link */
.music-link a {
	cursor: pointer;
	color: rgb(255, 255, 255, 0.5);
}

a.active {
	border-bottom: #fff solid 1px;
	color: white;
}

/* list music  */
.hover-play {
	position: relative;
	margin: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hover-play img {
	border-radius: 2.5px;
	/* width: 50px; */
}

.cepat:hover .hover-play img {
	opacity: 0.5 !important;
}

/* hover tool  */
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.middle:hover {
	opacity: 1;
}

.middle .play-pause i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.middle:hover .play-pause i {
	/* background-color: rgba(255, 255, 255, 0.212); */
	position: absolute;
	/* transition: all ease-out 0.2s; */
}

.middle .play-pause i:active {
	background-color: rgba(255, 255, 255, 0.212);
	transition: background-color 0.4s cubic-bezier(0.4, 0, 1, 1);
	box-shadow: -1px 1px 10px 20px rgba(0, 0, 0, 0.212);
	border-radius: 50%;
	padding: 4px;
}

/* next  */
.music-list-container {
	height: 95%;
	/* display: none !important; */
}

ol {
	/* padding: 5px 0px; */
	/* padding: 0 8px; */
	/* overflow-y: scroll; */
	overflow-y: scroll;
	height: 100%;
}

ol::-webkit-scrollbar-thumb,
.lyrics-wrapper::-webkit-scrollbar-thumb {
	background: transparent;
	/* Optional: just make scrollbar invisible */
}

ol::-webkit-scrollbar,
.lyrics-wrapper::-webkit-scrollbar {
	width: 12px;
	/* Optional: just make scrollbar invisible */
	background: transparent;
}

ol:hover::-webkit-scrollbar,
.lyrics-wrapper:hover::-webkit-scrollbar {
	width: 12px;
}

ol:hover::-webkit-scrollbar-thumb,
.lyrics-wrapper:hover::-webkit-scrollbar-thumb {
	background-color: rgb(117, 117, 117);
}

.cepat:hover .middle {
	opacity: 1 !important;
}

.playing {
	background-color: rgba(255, 255, 255, 0.1);
}

.cepat {
	padding: 0 8px;
	display: flex;
	border-bottom: 1px solid rgb(255, 255, 255, 0.1);
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 56px;
	cursor: pointer;
}

.cepat .audio-duration {
	/* padding-right: 70px; */
	opacity: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #aaa;
	line-height: 1.2;
}

.cepat:hover .audio-duration {
	display: none;
}

.cepat .more {
	font-size: 24px;
	color: #aaa;
	display: none;
	transition: all ease-out 0.2s;
}

.cepat:hover .more {
	display: block;
}

.cepat .text {
	padding-left: 16px;
	width: 100%;
	line-height: 1.2;
}

.text p span {
	color: rgb(255, 255, 255, 0.7);
	font-size: 1.25rem;
	display: inline-flex;
	align-items: center;
}

.cepat .text p:nth-child(1) {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 16px;
	line-height: 1.2;
}

.cepat .text p:nth-child(2) {
	font-family: 'Roboto', sans-serif;
	color: #aaa !important;
	text-transform: capitalize;
	font-size: 16px;
	line-height: 1.2;
}

.artist a {
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255, 0.7);
	text-transform: capitalize;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 5px;
}

.artist a:hover {
	text-decoration: underline;
}

.container-play-bottom {
	display: block;
}

/* lyrics slide 2  */
.lyrics-container {
	height: 95%;
}

.lyrics-wrapper {
	display: flex;
	align-items: center;
	padding: 5px 8px;
	overflow-y: scroll;
	height: 100%;
	/* user-select: auto !important; */
}

.lyrics-content {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
}

/* slide control  */
.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

@media only screen and (max-width: 765px) {
	.all-flex-wrapper {
		flex-direction: column;
		padding: 0px 0px;
	}

	.left-live-container {
		width: 100%;
		height: 40%;
		margin: 0 0 0 0;
	}

	.right-live-container {
		height: 75%;
		width: 100%;
		margin: 0 0 0 0;
	}

	.music-list-container,
	.lyrics-container {
		height: 80%;
	}

	ol::-webkit-scrollbar,
	.lyrics-wrapper::-webkit-scrollbar {
		width: 8px;
	}

	ol:hover::-webkit-scrollbar,
	.lyrics-wrapper:hover::-webkit-scrollbar {
		width: 8px;
	}

	.cepat .text p:nth-child(1) {
		font-size: 14px;
		font-family: 'Roboto-Medium', sans-serif;
	}

	.cepat .text p:nth-child(2) {
		font-size: 14px;
	}

	/* image full  */
	/* .wrapper-img video,
	.wrapper-img img {
		object-fit: cover;
	} */

	/* hidden search button   */
	span.container-link li:nth-child(5) a {
		display: none !important;

	}
}