/* Css For All Content Index , Video And Music */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	list-style: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	/* border: .5px solid rgb(255, 0, 0); */
}

::selection {
	background: #ffffff00;
	/* color: rgba(0, 0, 0, 0); */
	background: #fff;
	color: rgb(0, 0, 0);
}

*::before,
*::after {
	padding: 0;
	margin: 0;
}

:root {
	--swiper-navigation-size: 20px !important;
	--min-column-width: 270px;
	--column-gap: 24px;
	--row-gap: 12px;
	--item-height: 64px;
	--black: #000;
	--padding-page-normal: 75px;
	--padding-page-first: 75px 0px;
	--column-width: 182px;
	--minimumColumnWidth: 180px;
}

html {
	overflow-x: hidden;
}

body {
	background: rgb(3, 3, 3);
	/* background: #121212; */
	display: flex;
	justify-content: center;
	align-content: center;
	overflow-x: hidden;
	align-items: center;
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
	/* position: fixed; */
	margin: 0 auto;
	padding: 100px 50px 25px 50px ;
	position: relative;
}

/* navbar  */
.top-bar {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	background: #030303;
	/* background: #121212; */
	/* width: 100%; */
	top: 0px;
	height: 60px;
	left: 0;
	z-index: 999;
	padding: 0 20px;
	/* border-color: ; */
	/* border-bottom: 0.5px solid rgb(41, 39, 39);  */
	justify-content: space-between;
}

.top-bar span:nth-child(2) {
	display: flex;
	align-items: center;
	/* display: block; */
	justify-content: center;
}

.top-bar span h1 {
	font-size: 25px;
	font-family: 'Roboto-Bold', sans-serif;
	/* padding-left: 10px; */
}

.logo {
	cursor: pointer;
	display: block;
}

img#logo-1 {
	display: block;
}

img#logo-2 {
	display: none;
}

.left-nav {
	justify-content: flex-start;
}

.right-nav {
	justify-content: flex-end;
}

.right-nav,
.left-nav {
	gap: 15px;
	align-items: center;
	display: flex;
	width: 15%;
}

.center-nav {
	font-family: 'Roboto-Bold', sans-serif;
	gap: 35px;
	justify-content: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	width: 60% !important;
	position: relative;
	font-size: 20px;
}

.account a {
	cursor: pointer;
	display: inline-block;
}

.account a:last-child {
	font-size: 30px !important;
}

#link {
	font-family: 'Roboto-Bold', sans-serif;
	justify-content: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	width: 50% !important;
	position: relative;
	font-size: 20px;
	gap: 35px;
}

#link-icon {
	display: none;
	font-family: 'Roboto-Bold', sans-serif;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	width: 100% !important;
	position: relative;
	font-size: 20px;
	gap: 35px;
}

span.container-link .active {
	color: rgb(255, 255, 255) !important;
	border: none !important;
}

span.container-link a {
	color: rgb(255, 255, 255, 0.7);
	cursor: pointer;
	display: block;
}

span.container-link a:hover {
	color: rgb(255, 255, 255);
	transition: all ease 0.3s;
}

/* search box nav  */
.container-searchbox {
	/* display: none; */
	display: contents;
	align-items: center;
	border: #333 1px solid;
	border-radius: 5px;
	justify-content: center;
	box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%),
		0 5px 5px -3px rgb(0 0 0 / 40%);
}

.container-searchbox p {
	color: rgb(255, 255, 255, 0.7);
}

.container-searchbox:hover p {
	color: rgb(255, 255, 255);
}

.container-searchbox button {
	border: none;
	background: none;
}

.open-input span {
	color: rgb(255, 255, 255, 0.7);
	padding-right: 10px;
	cursor: pointer;
	display: block;
}

.open-input button {
	background: none !important;
	border: none;
}

/* .container-searchbox*/
.top-bar input[type='search'] {
	padding: 6px;
	border: none;
	border-radius: 2px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	height: 50px;
	font-family: 'Roboto-Bold', sans-serif;
	background: #212121;
	width: 100%;
	/* display: none; */
	position: relative;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	/* width: 50% !important; */
}

#input {
	position: absolute;
}

.wrapper-input {
	display: none;
	width: 100%;
	background: #212121;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%),
		0 5px 5px -3px rgb(0 0 0 / 40%);
}

.wrapper-input input {
	text-decoration: none;
	border: none;
	width: 300px;
	outline: none;
	color: rgb(255, 255, 255) !important;
}

/* button x  */
::-webkit-search-cancel-button {
	-webkit-appearance: none;
	/* position: relative; */
	height: 24px;
	width: 24px;
	/* %23777 */
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(255, 255, 255,0.5)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

/* .clear {
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.5);
} */
.wrapper-input .back {
	background: #212121;
	padding-left: 20px;
	color: rgb(255, 255, 255, 0.5) !important;
}

.open-input {
	display: flex;
	justify-content: center;
	align-items: center;
}

.open-input {
	color: #fff;
}

/* bottom fixed control music  */
.container-play-bottom {
	bottom: 0;
	background: rgb(24, 24, 24);
	width: 100%;
	padding: 0 30px;
	position: fixed;
	z-index: 99;
}

.wrap-play-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 85px;
	align-content: center;
}

.flex-left,
.flex-right {
	display: flex;
	align-items: center;
	width: 25%;
}

.flex-center {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	align-items: center;
	gap: 8px;
}

/* reposive for navbar  */
@media only screen and (max-width: 935px) {
	#link {
		display: none;
	}

	#link-icon {
		display: flex;
	}
}

@media only screen and (max-width: 440px) {
	.account a {
		width: 100%;
	}

	.right-nav,
	.left-nav {
		display: block;
		width: auto;
	}

	.center-nav {
		width: 100%;
	}

	#link-icon {
		gap: 20px;
	}

	.account a:nth-child(1) {
		display: none;
	}

	img#logo-1,
	img#logo-2 {
		width: 50px !important;
		height: auto;
	}

	.top-bar span h1 {
		display: none;
	}
}

/* Progress Bottom Nav Music  */
/* progress  bullet*/
.progress-bar-fill {
	position: relative;
	height: inherit;
	width: 0%;
	background: #fff;
	border-radius: 6px;
}

.progress-bar-fill::before {
	content: '';
	position: absolute;
	height: 12px;
	width: 12px;
	background: rgb(0, 0, 0);
	border-radius: 50%;
	top: 50%;
	right: -5px;
	transform: translateY(-50%);
	background: inherit;
	opacity: 0;
}

.progress-bar:hover .progress-bar-fill::before {
	opacity: 1;
}

/* backgroound progress bullet  */
.progress-bar {
	height: 4px;
	width: 100%;
	cursor: pointer;
	background: rgb(83, 83, 83);
	border-radius: 6px;
}

.progress-music {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	width: 80%;
}

/* time font  */
span.time-music {
	font-size: 13px;
	color: rgb(133, 133, 133);
	font-family: 'Roboto-Medium', sans-serif;
}

.button-play-pause {
	display: flex;
	align-items: center;
	gap: 16px;
}

/* control next prev and pause play */
.button-play-pause i {
	font-size: 27px;
	color: rgb(144, 144, 144);
	cursor: pointer;
}

.button-play-pause i:hover {
	color: rgb(255, 255, 255);
	transition: all ease-out 0.3s;
}

/* pause and play  */
.button-play-pause .play-pause-btn i {
	color: rgb(0, 0, 0);
	font-size: 27.5px;
	background: rgb(255, 255, 255);
	padding: 4px;
	border-radius: 50%;
}

/* profile music  */
.profile-music {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.profile-img {
	display: inline-flex;
}

.profile-img img {
	width: 56px;
	height: 56px;
	box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

.profile-name {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.profile-name a {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-transform: capitalize;
	color: #fff;
}

.profile-name p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.85rem;
	font-weight: 400;
	text-transform: capitalize;
	color: #b3b3b3;
}

/* more-control  */
.more-control {
	margin-right: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.more-control a {
	font-weight: thin;
	font-size: 25px;
	color: rgb(144, 144, 144);
}

.more-control a:nth-child(4) {
	color: rgb(255, 255, 255);
}

.more-control a:hover,
.more-control a:active {
	color: rgb(255, 255, 255);
	transition: all ease 0.3s;
}

/* control center  */
.controller-music {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
}

/* responsive btm nav  */
@media only screen and (max-width: 765px) {
	.container-play-bottom {
		padding: 0 10px;
	}

	.flex-right {
		display: none;
	}

	.progress-bar {
		height: 2px;
		position: absolute;
		top: 0px;
		width: 100%;
		cursor: pointer;
		background: rgb(83, 83, 83);
		border-radius: 0px;
		left: 0;
	}

	span.time-music {
		display: none;
	}

	.flex-center {
		/* width: 40%; */
		display: block;
		/* margin-right: auto; */
		/* margin: 0 auto 0 0 ; */
	}

	.controller-music {
		width: auto;
	}

	.flex-left {
		width: 60%;
	}

	#repeat,
	#shuffle {
		display: none;
	}

	.profile-name a {
		font-size: 14px;
	}

	.profile-img img {
		width: 46px !important;
		height: 46px !important;
	}

	.wrap-play-bottom {
		height: 75px !important;
	}

	.hover-play {
		margin-bottom: 8px;
	}
}
@media only screen and (max-width: 440px){
	/* limit-text  */
    .profile-name {
        overflow: hidden;
    }

    .profile-name p {
        display: inline-block;
        width: 160px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        animation: infinite 4s;
        animation-name: left-infinite;
        animation-delay: 10s;
		animation-direction: alternate-reverse;
		animation-play-state: running;
    }
}
/* size font  */
.md-18 {
	font-size: 18px !important;
}

.md-24 {
	font-size: 24px !important;
}

.md-36 {
	font-size: 36px !important;
}

.md-48 {
	font-size: 48px !important;
}
/* @ Unlimited text loop  */
@keyframes left-infinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}