/* ----- */
.image-live-hover {
	/* margin-bottom: 16px; */
	position: relative;
}

.wrapper-left-container {
	/* padding: 0px 50px; */
	flex-direction: row;
	align-items: center;
	flex: 1;
	margin: 0 0 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
}

.wrapper-img {
	--card-image-border-radius: clamp(4px,
			(var(--column-width, 0px) - 32px) * 0.025,
			8px);
	background-color: rgba(51, 51, 51, 0);
	border-radius: var(--card-image-border-radius);
	-webkit-box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
	box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
	padding-bottom: 60% !important;
	position: relative;
	width: 100%;
	/* animation: image-scale 1s; */
}

.container-img {
	--card-image-border-radius: clamp(4px,
			(var(--column-width, 0px) - 32px) * 0.025,
			8px);
	background-color: #333;
	border-radius: var(--card-image-border-radius);
	-webkit-box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
	box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
	padding-top: 100%;
	position: relative;
	width: 100%;
	cursor: pointer;
	/* padding-bottom: 100%; */
}

/* untuk mengatur besar image  */
.image-live-hover {
	width: 100%;
}

/* animation for big image  */
@keyframes image-scale {
	25% {
		transform: scale(0.7);
	}

	50% {
		transform: scale(0.8);
	}

	75% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

@media only screen and (max-width: 765px) {
	.right-live-container {
		height: 62% !important;
	}
}
