/* dark body dsini   */
#body.body-dark {
  background: var(--background);
}

#body {
  background: #181717;
}

/* dark mode wrapper disini */
#wrapper.wrapper-dark {
  background: #030303;
  box-shadow: -4px -2px 4px 0px #ffffff,
    4px 2px 6px 0 #dfe4ea;

}

#wrapper {
  background: #030303;
  box-shadow: -4px -2px 4px 0px #020202,
    4px 2px 6px 0 #080808;
}

#progress-area {
  background: #1d1b1b9f;
}

/* dark modenya dibawah */
#progress-area.progress-area-dark {
  background: #c4c4c4;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

#progress-area .progress-bar {
  background: rgb(255, 255, 255);
}

.header .row {
  color: #ffffff;
}

/* Pembatasan List music */
#music-list ul li {
  color: #005eff;

}

#music-list ul li .row span {
  color: #ffffff;
}